#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    /*para cuando pase el cursor salga una mano */
    cursor: pointer;
}
.menu{
    /**/
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,52,52,0.9);
    /*trasnsition para ver como se desplaza cuando....translatex para transladar*/
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;/*color blanco*/
    height: 58px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);/*blanco de transparencia */
}
.menu a:hover {
    background: rgba(255,255,255,0.5);/*para que cuando pase sobre se ponga blaquito*/
}
/* aquí cuando doy click se oculte y aparezca el menu*/
/*checked del label*/
/* con ese simbolo selecciono el menu*/
#menu-bar:checked ~.menu{
    transform: translateX(0%);
}