form{
    width:20%;
    border: 2px solid black;
    margin: 15px;
    padding: 20px;
}

label{
    font-size: 20px;
    display: block;
    width:100%;
}

input,textarea{
    margin-bottom: 20px;
    width:100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid black;
}

input:focus ,textarea:focus{
    border: 1px solid blue;
}

textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

input[type="submit"]{
    margin-bottom:10px;
    margin: 8px;
    width:45%;
    background: cornflowerblue;
    color: ghostwhite;
    border: none;
}
input[type="reset"]{
    margin-bottom:10px;
    width:45%;
    background: cornflowerblue;
    color: ghostwhite;
    border: none;
}
input[type="submit"]:hover{
    background: aqua;
    cursor: pointer;
}

.imagenEmpresa{
    width: 10px;
}
