.jumbotron{
    background-image: url("../Imagenes/ImagenPrueba.jpg");
    background-repeat:no-repeat ;
}
#TituloPantallaMV{
    font-size: 75px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 20px black;
}
#ParrafoPantallaMV{
    font-size: 45px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 10px lightgoldenrodyellow;
}